<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="main-nav__nav">
            <ul class="main-nav__list">
                <li class="main-nav__item" ><a href="/">My Shop</a></li>
                <li class="main-nav__item"><a href="/add-customer">Customer</a></li>
                <li class="main-nav__item"><a href="">Product</a></li>
                <li class="main-nav__item"><a href="">Orders</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <h2>Customers</h2>
        
        <form action="/customer" method="post">
            <input type="text" name="customerName" id="customerName">
            <button type="submit">Add Customer</button>   
        </form>
    </main>
</body>
</html>